body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(../assets/images/Background-Image.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.weather-dashboard {
    display: grid;
    grid-template-areas:
        "search search"
        "favorites main"
        "forecast forecast";
    gap: 1rem;
    background-color: #00C6C699;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
}

.box-left {
    grid-area: search;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.container-left {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.magnifying-glass {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.search-bar {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
}

.search-button:hover {
    background-color: #0056b3;
}

.favorites {
    grid-area: favorites;
    display: flex;
    flex-direction: column;
    background-color: #145255;
    border-radius: 10px;
    padding: 1rem;
}

.favorites h2 {
    margin-bottom: 0.5rem;
}

.favorites .city {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.main-weather {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #145255;
    border-radius: 10px;
    padding: 1rem;
    
    overflow: hidden;
}

.main-weather .temperature {
    font-size: 4rem;
    margin: 0.5rem 0;
}

.forecast {
    grid-area: forecast;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.forecast .day {
    text-align: center;
    background-color: #145255;
    padding: 0.5rem;
    border-radius: 5px;
}

